#proone:hover {
  padding: 10px;
  transition-property: padding;
  transition-duration: 1000ms;
  transition-timing-function: ease;
}
#protwo {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}
#prothree {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  text-overflow: clip;
  margin-top: 10px;
}
#profour {
  font-weight: bold;
  font-size: 22px;
}
